
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>劲动力媒体摩托联盟年会</title> 
<meta name="keywords" itemprop="name" content="劲动力媒体摩托联盟年会" />
<meta name="description" itemprop="description" content="劲动力媒体摩托联盟年会" />
<meta name="content" itemprop="image" content="劲动力媒体摩托联盟年会" />
<meta name="content" itemprop="image" content="http://www.jindl.com.cn/jindl_entered/img/share.jpg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"> 
<link href="css/swiper-3.4.0.min.css" rel="stylesheet" type="text/css" />   
<link href="css/index.css" rel="stylesheet" type="text/css" />  
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
</head>
<body>
	<div class="share"><img src="img/share.jpg" width='300' height='300'/></div>
	<img src="img/bottom.png" class="bottom">
	<!--========== 主框架_start ==========-->
	<div class="swiper-container main-container">
	  <div class="swiper-wrapper">
		<!--========== kv_start ==========-->
		<!--<div class="swiper-slide">
			<img src="img/kv.jpg" class="img"/>
		</div>-->
		<!--========== 第一屏_start ==========-->
		<div class="swiper-slide page1">
			<div class="plum"></div>
			<div class="lantern"></div>
			<div class="lantern2"></div>
			<div class="lantern3"></div>
			<!-- <div class="cloud"></div> -->
			<!-- <img src="img/plum.png" class="img plum"/> -->
			<!-- <img src="img/lantern.png" class="lantern"/> -->
			<!-- <img src="img/lantern2.png" class="lantern2"/> -->
			<img src="img/tit.png" class="bg tit"/>
			<!-- <img src="img/lantern3.png" class="lantern3"/>  -->
			<!-- <img src="img/cloud.png" class="cloud"/> -->
			<img src="img/join2.png" class="join"/> 
			<img src="img/logo.png" class="cloud"/> 
			<!-- 花 --> 
			<!-- <div id="cti_page1_flower" class="leafContainer"></div> -->
		</div>
		<!--========== 第一屏_end ==========--> 

		<!--========== 第二屏_start ==========-->
		<div class="swiper-slide page2">
			<div class="pageBg"></div>
			<img class="plan" src="img/plan.png">
			<div class="map-wrap">
				<img class="pupup-map" src="img/pupup-map.png">
				<img class="close" src="img/close.png">
			</div>
		</div>
		<!--========== 第二屏_end ==========--> 

		<!--========== 第三屏_start ==========-->
		<div class="swiper-slide page3">
			<div class="pageBg">
				<img src="img/danmu.png" class="danmu">
				<img src="img/box.png" class="box">
			</div>
		</div>
		<!--========== 第三屏_end ==========--> 

		<!--========== 第四屏_start ==========-->
		<div class="swiper-slide page4">
			<img src="img/page4-text.png" class="theTwoWrap-text ">
			<img src="img/page4-car.png" class="theTwoWrap-img ">
		</div>
		<!--========== 第四屏_end ==========--> 

		<!--========== 第五屏_start ==========-->
		<div class="swiper-slide page5">
			<img src="img/bbq-text.png" class="theTwoWrap-text ">
			<img src="img/bbq-img.png" class="theTwoWrap-img ">
		</div>
		<!--========== 第五屏_end ==========--> 

		<!--========== 第六屏_start ==========-->
		<div class="swiper-slide page6">
			<img src="img/fly-text.png" class="theTwoWrap-text ">
			<img src="img/fly-img.png" class="theTwoWrap-img ">
		</div>
		<!--========== 第六屏_end ==========--> 
		
		<!--========== 第七屏_start ==========-->
		<div class="swiper-slide page7">
			<div class="pageBg"></div>
			<div class="imgWrap">
				<img src="img/page7-car1.png" class="page7-right page7-img1 ">
				<img src="img/page7-car2.png" class="page7-left page7-img2 ">
				<img src="img/page7-car3.png" class="page7-right page7-img3 ">
				<img src="img/page7-car4.png" class="page7-left page7-img4 ">
			</div>
		</div>
		<!--========== 第七屏_end ==========--> 

		<!--========== 第八屏_start ==========-->
		<div class="swiper-slide page8 dealer"> 
			<div class="plum2"></div>
			<!-- <img src="img/plum2.png" class="img plum2"/> -->
			<img src="img/tit2.png" class="tit2"/>
			<div class="content">
				<div class="m-testdrive-form m-testdrive-form2 clearfix">
					<div class="m-form">
						<input id="cti_form_comany" type="text" name="" placeholder="公司名称"/>
					</div>
					<div class="m-form">
						<input id="cti_form_name" type="text" name="" placeholder="姓名"/>
					</div>
					<!-- <div class="m-form">
						<input id="cti_form_sex" type="text" name="" placeholder="性别"/>
						<select id="cti_form_sex_select">
							<option selected="selected">男</option>
							<option>女</option>
						</select>
					</div> 
					<div class="m-form">
						<input id="cti_form_age" type="number" name="" placeholder="年龄"/>
					</div>  -->
					<div class="m-form">
						<input id="cti_form_phone" type="number" name="" placeholder="电话" max-length="11" />
					</div> 
					<!-- <div class="m-form">
						<input id="cti_form_cartype" type="text" name="" placeholder="车型"/>
					</div>
					<div class="m-form">
						<input id="cti_form_cartype" type="text" name="" placeholder="厂商名称"/>
					</div>  --> 
				</div>
				<div class="submit"> 
					<img src="img/submit.png" class="img" />
				</div>
			</div>
			<img src="img/form-text.png" class="form-text"/>
			<!-- 花 --> 
			<!-- <div id="cti_page8_flower" class="leafContainer"></div> -->
		</div>
		<!--========== 第八屏_end ==========-->   
		
	  </div>
	  <div class="main-pagination"></div>
	</div>
	<!--========== 主框架_end ==========-->  
	<!--========== POP_START ==========--> 
	<!-- 弹出层 -->
	<div class="popup"> 
		<!-- <img src="img/plum3.png" class="img plum3"/> -->
		<!-- <img src="img/cloud1.png" class="cloud1"/> -->
		<!-- <img src="img/cloud2.png" class="cloud2"/> -->
		<!-- <img src="img/success.png" class="success"/> -->
		<!-- <img src="img/flower.png" class="flower"/> -->
	</div> 
	<!-- 音频 -->
	<div id="audio_btn" class="off rotate">
		<img src="img/music.png" class="audio"> 
		<div class="audio"></div>
	</div>
<!--====================== js_start ======================-->
<script src="js/jquery-1.11.1.js" type="text/javascript"></script> 
<script src="js/swiper-3.4.0.jquery.min.js" type="text/javascript"></script>  
<!-- <script src="js/flower.js" type="text/javascript"></script>    -->
<script src="js/index.js" type="text/javascript"></script> 
<script type="text/javascript">
	//提交按钮--表单提交
	$('.submit').click(function(e) {
		e.preventDefault(); 
		var company = $.trim($('#cti_form_comany').val());
		var name = $.trim($('#cti_form_name').val());
		var phone = $.trim($('#cti_form_phone').val()); 
		var cartype = $.trim($('#cti_form_cartype').val()); 
		if (company == '' || company == '公司名称') {
			alert('请填写公司名称');
			$('#cti_form_comany').focus();
			return false;
		}else
		if (name == '' || name == '姓名') {
			alert('请填写您的姓名');
			$('#cti_form_name').focus();
			return false;
		}else
		if (phone == '' || phone == '手机号码') {
			alert('请填写您的电话');
			$('#cti_form_phone').focus();
			return false;
		} else if (phone.length != 11 || phone*1 == "NaN") { //|| /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/.test(phone) == false
			alert('请填写有效的手机号码');
			$('#cti_form_phone').focus();
			return false;
		}
		else {
			$.ajax({
			   type : "post",
			   cache:false,
			   url : "index.php?c=api&m=get_deainfo",
			   dataType : "json",
			   data:{"company":company,"uname":name,"phone":phone,"dealer":cartype},
			   success : function(jsondata){
				if(jsondata.code==200){
					$('.popup').fadeIn(300);
				}else{
					alert(jsondata.msg);
				}
			   },
			   error:function(){
					alert("提交失败，请稍后再试!");
			   }
			});
		}
	}); 
</script>  
</body> 
</html>
